.container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.block {
    width: 200px;
    height: 100px;
    background-color: #efee19;
}
